<div class="container-fluid">
    <div class="row" style="height:100px">
        <div class="col-md-12" style="height:50px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <form action="/commercial_information/hotel" method="get">
                        <button type="submit" class="btn btn-outline">
                            <div class=" btn1 commercial_information_icons">
                                <div class="flex-fill bd-highlight"><i class="fas fa-hotel fa-5x" aria-hidden="true"></i></div>
                                <div class=" flex-fill bd-highlight">
                                    <h3><b>HOTEL</b></h3>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
                <div class="col-md-4">
                    <form action="/commercial_information/restaurant" method="get">
                        <button type="submit" class="btn btn-outline">
                            <div class="btn1 commercial_information_icons">
                                <div class="flex-fill bd-highlight"><i class="fas fa-utensils fa-5x" aria-hidden="true"></i></div>
                                <div class="flex-fill bd-highlight">
                                    <h4><b>RESTAURANT</b></h4>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
                <div class="col-md-4">
                    <form action="/commercial_information/mall" method="get">
                        <button type="submit" class="btn btn-outline">
                            <div class="btn1 commercial_information_icons">
                                <div class="flex-fill bd-highlight"><i class="fas fa-shopping-cart fa-5x" aria-hidden="true"></i></div>
                                <div class="flex-fill bd-highlight">
                                    <h3><b>MALL</b></h3>
                                </div>
                            </div>
                        </button></form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form action="/commercial_information/hospitals" method="get">
                        <button type="submit" class="btn btn-outline">
                            <div class="btn1 commercial_information_icons">
                                <div class="flex-fill bd-highlight"><i class="fas fa-hospital fa-5x" aria-hidden="true"></i></div>
                                <div class="flex-fill bd-highlight">
                                    <h3><b>HOSPITAL</b></h3>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
                <div class="col-md-4">
                    <form action="/commercial_information/medical" method="get"><button type="submit" class="btn btn-outline">
                            <div class="btn1 commercial_information_icons">
                                <div class="flex-fill bd-highlight"><i class="fas fa-briefcase medical fa-5x" aria-hidden="true"></i></div>
                                <div class="flex-fill bd-highlight">
                                    <h3><b>MEDICAL</b></h3>
                                </div>
                            </div>
                        </button></form>
                </div>
                <div class="col-md-4">
                    <form action="/commercial_information/travel" method="get">
                        <button type="submit" class="btn btn-outline">
                            <div class="btn1 commercial_information_icons">
                                <div class="flex-fill bd-highlight"><i class="fas fa-bus-alt fa-5x" aria-hidden="true"></i></div>
                                <div class="flex-fill bd-highlight">
                                    <h3><b>TRAVEL</b></h3>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>
