<!--  <%- data -%>  -->
<button class="cross" style="" margin>X
</button>
&nbsp
<script>
$(".cross").on("click", function() {
    $(".bottom").html("");
    k = 1;
    $(".cross").html("");
})
</script>
